<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Infinity</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">home</a></li>
            <li><a href="badges.html">Contatos</a></li>
            <li><a href="collapsible.html">Sobre</a></li>
          </ul>
        </div>
      </nav>
      <div style="text-align:right">
        <a  data-target="modal1" class="waves-effect waves-light btn-large modal-trigger" href="#modal1" ><i class="material-icons right">add</i>Adicionar Contato</a>
    </div>
</body>
</html>